* {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
}

#Title {
text-align: center
}

.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    
}

.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar-nav { 
    flex-direction: row;
    text-align: center;
}